<!DOCTYPE html>
<html ng-app = "app">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{script("/js/app.js")}}
    {{script("/js/angular.min.js")}}
    {{script("/js/materialize.min.js")}}
    {{script("/js/script.js")}}
    {{script("/js/angular_app.js")}}
    {{script("/js/canvasjs.min.js")}}
    {{script("/js/jquery.canvasjs.min.js")}}
    {{script("/js/chart.min.js")}}
    {{script("/js/angular-route.min.js")}}

   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    {{css("/css/materialize.min.css")}}
    {{css("/css/materialize.min.css")}}
    {{css("/css/style.css")}}
  </head>
  <body class="#424242 grey darken-3" ng-controller = "voteCTL">

    @!section('body')

  </body>
</html>
